@import url("https://fonts.googleapis.com/css?family=Pinyon+Script");
@import url("https://fonts.googleapis.com/css?family=Dancing+Script:700");
@import url('https://fonts.googleapis.com/css?family=Bitter');

body {
    font-family:  Bitter, serif ;
    font-size: 16px;
    padding: 0 150px;

}

header nav {
    color: #F9690E;
    font-weight: bold;
    font-size: 1.1rem;
}

header nav a{
    color: #F9690E;
}

header article{
    font-family: Dancing Script, serif;
    float: left;
}

header article p{
    display: inline-block;
    font-size: 2rem;
    margin: 7px;
}

header nav{
    text-align: right;
    background: #E0E0E0;
    padding: 1px 12px;
}

header nav ul li{
    display: inline-block;
    padding-left: 10px;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:hover{
    color: orange;

}

main{
    padding: 1rem 0 1rem 0;
    background: #F0F1F5;
}

section.home-main{
    text-align: center;
    color: #F9690E;
    padding: 10px;
    margin: 0 20px;
    border-radius: 20px;
    background: url("../img/story.png") no-repeat;
}


section.home-main h1{
    font-size: 4rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: -20px;
}

h1, h2 {
    font-family: Dancing Script, serif;
}

section.home-main p{
    font-family: Pinyon Script, serif;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: -5px;
}

section.home-main span{
    font-family: Pinyon Script, serif;
    font-weight: bolder;
    font-size: 3rem;
}

section.home-main p a {
    font-family:  “Helvetica”, sans-serif ;
    font-style: italic;
    font-size: 1.2rem;
    color: #F9690E;
    text-decoration: none;
    border: 2px solid #F9690E;
    padding: 5px;
    border-radius: 1rem;
}

section.home-main p a:hover{
    color: orange;
    border: 2px solid orange;
}


.home-articles,
.all-articles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.all-articles article:nth-child(1),
.all-articles article:nth-child(2){
    margin-bottom: 1rem;
}

.about-article,
.home-article {
    background: #F9690E;
    color: #F0F1F5;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 29%;
    margin-top: 1rem;
    padding: 0 0.5rem 0 0.5rem;
    border-radius: 1rem;
    flex: 1 1 29%;
}

.home-paragraph{
    height: auto;
    display: flex;
    flex-grow: 1;
}

.home-article .home-paragraph p{
    text-align: left;
    padding: 0 0.5rem 0 0.5rem;
}

.single-article a,
.home-article a{
    display: flex;
    text-decoration: none;
    color: white;
    justify-content: flex-end;
    margin: 0 2rem 1rem 0;
}

.single-article{
    background: #F9690E;
    color: #F0F1F5;
    border-radius: 0.5rem;
    padding-left: 1rem;
    max-width: 46%;
    flex: 1 1 46%;
}

.form input,
.form textarea{
    border-radius: 5px;
    padding: 5px;
    border: none;
    margin-top: 5px;
}

.form textarea{
    vertical-align: top;
}

main textarea{
    margin-top: 5px;
}

footer{
    padding: 10px;
    background: #E0E0E0;
}

footer article:nth-child(1){
    float: left;
    padding: 5px;
    font-weight: bold;
}

footer article:nth-child(2){
    text-align: right;
}

footer article a i {
    padding: 5px;
    color: black;
}

.form-login,
.form-register,
.shear-form{
    font-size: 1.2rem;
    background: #F9690E;
    width: 400px;
    color: white;
    margin: 0 auto;
    padding: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

.form-login ,
.form-register{
    width: 60%;
}

.form-login label,
.form-register label{
    display: block;
    font-size: 1rem;
}

.form-login input,
.form-register input{
    width: 50%;
}

.shear-form h2{
    font-size: 2rem;
    text-align: center;
}

#title{
    width: 260px;
}

.button{
    font-size: 1em;
    padding: 7px 15px;
    border: 2px solid white;
    border-radius: 7px;
    background: none;
    color: white;
    text-decoration: none;
}

.button:hover{
    background: white;
    color: #F9690E;
}

.errors{
    width: 35%;
    border: 2px solid red;
    color: red;
    margin: 10px auto;
    border-radius: 10px;
}

.story{
    width: 70%;
    background: #F9690E;
    color: white;
    margin: 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
}

.single-article header,
.home-article header,
.story header{
    border-bottom: 1px solid white;
    padding: 0.5rem 0 0.5rem 0;
}

.story header h3,
.story header small{
    color: white;
}

.story a {
    text-decoration: none;
    color: white;
}

section.story p:nth-child(3){
    text-align: right;
}

.about{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.about-article{
    display: flex;
    vertical-align: top;
}

.delete{
    display: flex;
}

.delete a{
    margin-left: auto;
}

.delete input:hover {
    background: red;
    border-color: red;
    color: white;
}

.paginator ul{
    display: flex;
    text-decoration: none;
    align-items: center;
}

.paginator ul li{
    list-style: none;
    background: #F9690E;
    border-radius: 0.3rem;
    width: 2rem;
    height: 2rem;
    position: relative;
    margin-left: 0.3rem;
}

.paginator ul li:hover {
    background: orange;
    cursor: pointer;
}

.paginator ul li:first-child,
.paginator ul li:last-child{
    width: 1.5rem;
    height: 1.5rem;
}


.paginator ul li span,
.paginator ul li a{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: white;
}





