@import url("https://fonts.googleapis.com/css?family=Pinyon+Script");
@import url('https://fonts.googleapis.com/css?family=Dancing+Script:700');

body {
    font-family:  “Helvetica”, sans-serif ;
    font-size: 16px;
    padding: 0 150px;

}

header * {
    color: #F9690E;
    font-weight: bold;
    font-size: 1.1rem;
}

header article{
    font-family: Dancing Script, serif;
    float: left;
}

header article p{
    display: inline-block;
    font-size: 2rem;
    margin: 7px;
}

header nav{
    text-align: right;
    background: #E0E0E0;
    padding: 1px 12px;
}

header nav ul li{
    display: inline-block;
    padding-left: 10px;
}

header nav ul li a{
    text-decoration: none;
}

header nav ul li a:hover{
    color: darkslategrey;
}

main{
    padding-top: 15px;
    background: #F0F1F5;
}

main section{
    text-align: center;
    color: #F9690E;
    padding: 10px;
    margin: 0 20px;
    border-radius: 20px;
    background: url("../img/story.png") no-repeat;
}


main section h1{
    font-family: Dancing Script, serif;
    font-size: 4rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin: -20px;
}

main section p{
    font-family: Pinyon Script, serif;
    font-weight: bolder;
    font-size: 2rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    margin-bottom: -5px;
}

main section span{
    font-family: Pinyon Script, serif;
    font-weight: bolder;
    font-size: 3rem;
}

main section p a {
    font-family:  “Helvetica”, sans-serif ;
    font-style: italic;
    font-size: 1.2rem;
    color: #F9690E;
    text-decoration: none;
    border: 2px solid #F9690E;
    padding: 5px;
    border-radius: 1rem;
}

main section p a:hover{
    color: darkslategrey;
    border: 2px solid darkslategrey;
}

main article p{
    text-align: left;
    padding: 0.8rem;
}
main article{
    background: #F9690E;
    color: #F0F1F5;
    text-align: center;
    display: inline-block;
    width: 31.3%;
    margin: 10px 0 10px 12px;
    vertical-align: top;
    border-radius: 15px;

}

main article a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 0 0 10px 120px;
}

footer{
    padding: 10px;
    background: #E0E0E0;
}

footer article:nth-child(1){
    float: left;
    padding: 5px;
    font-weight: bold;
}

footer article:nth-child(2){
    text-align: right;
}


footer article a i {
    padding: 5px;
    color: black;
}